<p data-sly-test="${wcmmode.edit || wcmmode.design}" class="author-note">
    ${'Edit {0} Component' @ format=[component.title], i18n}
</p>

<section class="about-organics" id="about-organic">
    <div class="ao-wrapper">
        <div class="ao-items">
            <div class="ao-img-wrapper">
                <img class="ao-img" src="/content/dam/organik-aem-website/in/en-in/homepage/about-us-banner.png" alt="logobanner">
            </div>
        </div>
        <div class="ao-items">
            <h3 class="ao-subtitle">About Us</h3>
            <h1 class="ao-title">We Believe In Organic Foods For Strong Health</h1>
            <p class="ao-text">Welcome to the world of natural and organic. Here you can discover the bounty of
                nature. We have grown on the principles of health, and care. We aim to give our customers a
                healthy chemical-free meal for perfect nutrition.</p>
            <div class="ao-paper-cards">
                <div class="ao-paper-items">
                    <div class="paper-icon-wrapper">
                        <img src="/content/dam/organik-aem-website/in/en-in/homepage/au-pot-logo.svg" alt="logologo">
                    </div>
                    <div class="paper-contents">
                        <h3 class="ao-paper-title">Organic Foods Only</h3>
                        <p class="ao-paper-text">The Product that you ordered will be verified that we have or
                            not if have we will start to move on with the next step.</p>
                    </div>
                </div>
                <div class="ao-paper-items">
                    <div class="paper-icon-wrapper">
                        <img src="/content/dam/organik-aem-website/in/en-in/homepage/au-star-logo.svg" alt="logologo">
                    </div>
                    <div class="paper-contents">
                        <h3 class="ao-paper-title">Quality Standards</h3>
                        <p class="ao-paper-text">Once your product is packed it will be delivered to your nearby
                            locality you can directly visit the to buy the product.</p>
                    </div>
                </div>
                <button class="ao-button explore-more">
                    <p>Shop Now</p>
                    <img src="/content/dam/organik-aem-website/in/en-in/homepage/next-button.svg" alt="logobutton">
                </button>
            </div>
        </div>
    </div>
</section>