<p data-sly-test="${wcmmode.edit || wcmmode.design}" class="author-note">
    ${'Edit {0} Component' @ format=[component.title], i18n}
</p>

<section class="organic-experts" id="team">
    <div class="organic-experts-wrapper">
        <div class="oe-title-contents">
            <h3 class="oe-subtitle">The Team</h3>
            <h1 class="oe-title">Our Organic Experts</h1>
            <p class="oe-text">We have grown on the principles of health, ecology, and care. We aim to give our
                customers a healthy chemical-free meal for perfect nutrition.</p>
        </div>
        <div class="oe-frame-wrapper">
            <div class="oe-frames">
                <div class="oe-frame-header">
                    <img class="oe-img" src="/content/dam/organik-aem-website/in/en-in/homepage/oe-1.jpg" alt="logoicons">
                </div>
                <div class="oe-frame-footer">
                    <h1 class="oe-name">Shane Watson</h1>
                    <div class="oe-frame-text">
                        <h3 class="oe-desc">Farmer</h3>
                        <div class="oe-frame-icon-wrapper">
                            <div class="oe-frame-icons"><a href="https://www.facebook.com/" target="_blank"><img
                                        class="oe-icon-wrap" src="/content/dam/organik-aem-website/in/en-in/homepage/fb-01.svg" alt="logoicons"></a></div>
                            <div class="oe-frame-icons"><a href="https://x.com/" target="_blank"><img
                                        class="oe-icon-wrap" src="/content/dam/organik-aem-website/in/en-in/homepage/x-02.svg" alt="logoicons"></a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="oe-frames">
                <div class="oe-frame-header">
                    <img class="oe-img" src="/content/dam/organik-aem-website/in/en-in/homepage/oe-2.jpg" alt="logoicons">
                </div>
                <div class="oe-frame-footer">
                    <h1 class="oe-name">Maria Thomas</h1>
                    <div class="oe-frame-text">
                        <h3 class="oe-desc">Maketing</h3>
                        <div class="oe-frame-icon-wrapper">
                            <div class="oe-frame-icons"><a href="https://www.facebook.com/" target="_blank"><img
                                        class="oe-icon-wrap" src="/content/dam/organik-aem-website/in/en-in/homepage/fb-01.svg" alt="logoicons"></a></div>
                            <div class="oe-frame-icons"><a href="https://www.instagram.com/"
                                    target="_blank"><img class="oe-icon-wrap" src="/content/dam/organik-aem-website/in/en-in/homepage/insta-03.svg"
                                        alt="logoicons"></a></div>
                            <div class="oe-frame-icons"><a href="https://x.com/" target="_blank"><img
                                        class="oe-icon-wrap" src="/content/dam/organik-aem-website/in/en-in/homepage/x-02.svg" alt="logoicons"></a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="oe-frames">
                <div class="oe-frame-header">
                    <img class="oe-img" src="/content/dam/organik-aem-website/in/en-in/homepage/oe-3.jpg" alt="logoicons">
                </div>
                <div class="oe-frame-footer">
                    <h1 class="oe-name">Angeline flora</h1>
                    <div class="oe-frame-text">
                        <h3 class="oe-desc">Financiar</h3>
                        <div class="oe-frame-icon-wrapper">
                            <div class="oe-frame-icons"><a href="https://www.facebook.com/" target="_blank"><img
                                        class="oe-icon-wrap" src="/content/dam/organik-aem-website/in/en-in/homepage/fb-01.svg" alt="logoicons"></a></div>
                            <div class="oe-frame-icons"><a href="https://x.com/" target="_blank"><img
                                        class="oe-icon-wrap" src="/content/dam/organik-aem-website/in/en-in/homepage/x-02.svg" alt="logoicons"></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>