<p data-sly-test="${wcmmode.edit || wcmmode.design}" class="author-note">
    ${'Edit {0} Component' @ format=[component.title], i18n}
</p>

<section class="organic-gallery">
    <div class="organic-titles">
        <h3 class="organic-gallery-subtitle">Our Green Oasis</h3>
        <h1 class="organic-gallery-title">Embracing Nature's Beauty with Every Plant</h1>
    </div>
    <div class="organic-gallery-wrapper">
        <a href="#" class="og-boxes og-first">
            <div class="og-static">
                <img class="og-img" src="/content/dam/organik-aem-website/in/en-in/homepage/gallery-1.jpg" alt="logoimg">
            </div>
            <div class="og-dynamic">
                <img class="og-img" src="/content/dam/organik-aem-website/in/en-in/homepage/gallery-hover-1.jpg" alt="logoimg">
            </div>
        </a>
        <div class="og-second">
            <a href="#" class="og-boxes">
                <div class="og-static">
                    <img class="og-img" src="/content/dam/organik-aem-website/in/en-in/homepage/gallery-2.jpg" alt="logoimg">
                </div>
                <div class="og-dynamic">
                    <img class="og-img" src="/content/dam/organik-aem-website/in/en-in/homepage/gallery-hover-2.jpg" alt="logoimg">
                </div>
            </a>
            <a href="#" class="og-boxes">
                <div class="og-static">
                    <img class="og-img" src="/content/dam/organik-aem-website/in/en-in/homepage/gallery-3.jpg" alt="logoimg">
                </div>
                <div class="og-dynamic">
                    <img class="og-img" src="/content/dam/organik-aem-website/in/en-in/homepage/gallery-hover-3.jpg" alt="logoimg">
                </div>
            </a>
        </div>
        <a href="#" class="og-boxes og-last">
            <div class="og-static">
                <img class="og-img" src="/content/dam/organik-aem-website/in/en-in/homepage/gallery-4.jpg" alt="logoimg">
            </div>
            <div class="og-dynamic">
                <img class="og-img" src="/content/dam/organik-aem-website/in/en-in/homepage/gallery-hover-4.jpg" alt="logoimg">
            </div>
        </a>
    </div>
</section>