<p data-sly-test="${wcmmode.edit || wcmmode.design}" class="author-note">
    ${'Edit {0} Component' @ format=[component.title], i18n}
</p>

<footer class="footer">
    <div class="organic-footer">
        <div class="organic-footer-container">
            <div class="footer-item-wrapper">
                <h1 class="footer-title">Contact Us</h1>
                <p class="footer-text"><b>Email</b></p>
                <a class="footer-link" href="mailto:needhelp@organick.com"
                    class="footer-contact-link">needhelp@organick.com</a>
                <p class="footer-text"><b>Phone</b></p>
                <a class="footer-link" href="tel:1234567890" class="footer-contact-link">1234567890</a>
                <p class="footer-text"><b>Address</b></p>
                <p class="footer-text">88 Road, Brooklyn Street, USA</p>
            </div>
            <div class="footer-item-wrapper">
                <img class="footer-logo" src="/content/dam/organik-aem-website/in/en-in/homepage/organik-logo.svg" alt="logo">
                <p class="footer-text">We are a popular and farming company aspiring to be a leader in the Organic
                    food industry.</p>
                <div class="footer-icon-wrapper">
                    <a class="footer-icon-redirect" href="https://www.facebook.com/" target="_blank"><img
                            src="/content/dam/organik-aem-website/in/en-in/homepage/fb-01.svg" alt="logo" class="footer-icons"></a>
                    <a class="footer-icon-redirect" href="https://www.x.com/" target="_blank"><img
                            src="/content/dam/organik-aem-website/in/en-in/homepage/x-02.svg" alt="logo" class="footer-icons"></a>
                    <a class="footer-icon-redirect" href="https://www.instagram.com/" target="_blank"><img
                            src="/content/dam/organik-aem-website/in/en-in/homepage/insta-03.svg" alt="logo" class="footer-icons"></a>
                    <a class="footer-icon-redirect" href="https://in.pinterest.com/" target="_blank"><img
                            src="/content/dam/organik-aem-website/in/en-in/homepage/pinterest-04.svg" alt="logo" class="footer-icons"></a>
                </div>
            </div>
            <div class="footer-item-wrapper">
                <h1 class="footer-title">Utility Pages</h1>
                <a class="footer-link" href="#" target="_blank">Style
                    Guide</a>
                <a class="footer-link" href="#" target="_blank">Protected</a>
                <a class="footer-link" href="#" target="_blank">Page Not
                    Found</a>
                <a class="footer-link" href="#"
                    target="_blank">Changelog</a>
                <a class="footer-link" href="#"
                    target="_blank">Licenses</a>
            </div>
        </div>
        <div class="footer-copyright">
            <p class="footer-text">Copyright © Organick | Designed by <a class="footer-link"
                    href="#" target="_blank">VictorFlow</a> - Powered by <a
                    class="footer-link" href="#" target="_blank">Webflow</a></p>
        </div>
    </div>
</footer>