<p data-sly-test="${wcmmode.edit || wcmmode.design}" class="author-note">
    ${'Edit {0} Component' @ format=[component.title], i18n}
</p>

<section class="organic-form" id="contact">
    <div class="organic-form-wrapper">
        <div class="organic-form-content">
            <h1 class="form-title">Subscribe Our Newsletter</h1>
        </div>
        <div class="organic-form-content">
            <input class="organic-form-input" type="text" id="email" name="email"
                placeholder="Enter Your Email Address" required maxlength="25">
            <input type="submit" value="Subscribe" class="subscribe-button">
        </div>
    </div>
</section>