<p data-sly-test="${wcmmode.edit || wcmmode.design}" class="author-note">
    ${'Edit {0} Component' @ format=[component.title], i18n}
</p>

<section class="organic-cards">
    <div class="oc-container">
        <div class="oc-cards oc-card-left" style="background-image: url(/content/dam/organik-aem-website/in/en-in/homepage/ani-image-left.jpg);">
            <h3 class="oc-subtitle">Natural!!</h3>
            <h2 class="oc-title">Get Garden Fresh Fruits</h2>
        </div>
        <div class="oc-cards oc-card-right" style="background-image: url(/content/dam/organik-aem-website/in/en-in/homepage/ani-image-right.jpg);">
            <h3 class="oc-subtitle">Offer!!</h3>
            <h2 class="oc-title">Get 10% off on Vegetables</h2>
        </div>
    </div>
</section>