<p data-sly-test="${wcmmode.edit || wcmmode.design}" class="author-note">
    ${'Edit {0} Component' @ format=[component.title], i18n}
</p>

<!-- <sly data-sly-use.bannerModel="com.organik.aem.core.models.OrganicBannerModel">
    <p>Name is ${bannerModel.name}</p>
    <p>id is ${bannerModel.id}</p>
    <section class="organic-banner">
        <div data-sly-list.item="${bannerModel.bannerList}" class="og-banner-items">
            <div class="ob-content-wrapper">
                <div class="ob-content">
                    <h3 class="ob-title">${item.bannerTitle}</h3>
                    <h1 class="ob-main-title">${item.bannerMainTitle}</h1>
                    <button class="ob-button explore-more">
                        <p>${item.bannerPathLabel}</p>
                        <img src="/content/dam/organik-aem-website/in/en-in/homepage/next-button.svg" alt="logobutton">
                    </button>
                </div>
            </div>
        </div>
    </section>
</sly> -->

<div data-sly-use.bannerModel="com.organik.aem.core.models.OrganicBannerModel">
    <p>Name is ${bannerModel.name}</p>
    <p>Id is ${bannerModel.id}</p>
</div>
