<p data-sly-test="${wcmmode.edit || wcmmode.design}" class="author-note">
    ${'Edit {0} Component' @ format=[component.title], i18n}
</p>

<section class="organic-products" id="products">
    <div class="op-title-wrapper">
        <h3 class="op-subtitle">Categories</h3>
        <h1 class="op-title">Our Products</h1>
    </div>
    <div class="organic-product-container">
        <div class="organic-product-list">
            <div class="op-categ-wrapper">
                <p class="op-category">Vegetable</p>
            </div>
            <img src="/content/dam/organik-aem-website/in/en-in/homepage/products/our-product-1.png" alt="logologo" class="op-list-image">
            <div class="op-text-container">
                <p class="organic-product-name">Vegan Red Tomato</p>
                <div class="op-price-wrapper">
                    <div class="op-price-content">
                        <div class="op-strike-price">$ 14.00</div>
                        <div class="op-actual-price">$ 9.37</div>
                    </div>
                    <div class="op-rating">
                        <img class="op-rating" src="/content/dam/organik-aem-website/in/en-in/homepage/star.svg" alt="logologo">
                    </div>
                </div>
            </div>

        </div>
        <div class="organic-product-list">
            <div class="op-categ-wrapper">
                <p class="op-category">Fruits</p>
            </div>
            <img src="/content/dam/organik-aem-website/in/en-in/homepage/products/our-product-2.png" alt="logologo" class="op-list-image">
            <div class="op-text-container">
                <p class="organic-product-name">Organic Almonds</p>
                <div class="op-price-wrapper">
                    <div class="op-price-content">
                        <div class="op-strike-price">$ 21.00</div>
                        <div class="op-actual-price">$ 18.00</div>
                    </div>
                    <div class="op-rating">
                        <img class="op-rating" src="/content/dam/organik-aem-website/in/en-in/homepage/star.svg" alt="logologo">
                    </div>
                </div>
            </div>
        </div>
        <div class="organic-product-list">
            <div class="op-categ-wrapper">
                <p class="op-category">Millets</p>
            </div>
            <img src="/content/dam/organik-aem-website/in/en-in/homepage/products/our-product-3.png" alt="logologo" class="op-list-image">
            <div class="op-text-container">
                <p class="organic-product-name">Fresh Corn</p>
                <div class="op-price-wrapper">
                    <div class="op-price-content">
                        <div class="op-strike-price">$ 21.23</div>
                        <div class="op-actual-price">$ 18.00</div>
                    </div>
                    <div class="op-rating">
                        <img class="op-rating" src="/content/dam/organik-aem-website/in/en-in/homepage/star.svg" alt="logologo">
                    </div>
                </div>
            </div>

        </div>
        <div class="organic-product-list">
            <div class="op-categ-wrapper">
                <p class="op-category">Vegetable</p>
            </div>
            <img src="/content/dam/organik-aem-website/in/en-in/homepage/products/our-product-4.png" alt="logologo" class="op-list-image">
            <div class="op-text-container">
                <p class="organic-product-name">Dried Pistachio</p>
                <div class="op-price-wrapper">
                    <div class="op-price-content">
                        <div class="op-strike-price">$ 61.00</div>
                        <div class="op-actual-price">$ 48.00</div>
                    </div>
                    <div class="op-rating">
                        <img class="op-rating" src="/content/dam/organik-aem-website/in/en-in/homepage/star.svg" alt="logologo">
                    </div>
                </div>
            </div>

        </div>
        <div class="organic-product-list">
            <div class="op-categ-wrapper">
                <p class="op-category">Millets</p>
            </div>
            <img src="/content/dam/organik-aem-website/in/en-in/homepage/products/our-product-5.png" alt="logologo" class="op-list-image">
            <div class="op-text-container">
                <p class="organic-product-name">Calabrese Broccoli</p>
                <div class="op-price-wrapper">
                    <div class="op-price-content">
                        <div class="op-strike-price">$ 25.00</div>
                        <div class="op-actual-price">$ 21.00</div>
                    </div>
                    <div class="op-rating">
                        <img class="op-rating" src="/content/dam/organik-aem-website/in/en-in/homepage/star.svg" alt="logologo">
                    </div>
                </div>
            </div>

        </div>
        <div class="organic-product-list">
            <div class="op-categ-wrapper">
                <p class="op-category">Millets</p>
            </div>
            <img src="/content/dam/organik-aem-website/in/en-in/homepage/products/our-product-6.png" alt="logologo" class="op-list-image">
            <div class="op-text-container">
                <p class="organic-product-name">Brown Hazelnut</p>
                <div class="op-price-wrapper">
                    <div class="op-price-content">
                        <div class="op-strike-price">$ 43.00</div>
                        <div class="op-actual-price">$ 34.00</div>
                    </div>
                    <div class="op-rating">
                        <img class="op-rating" src="/content/dam/organik-aem-website/in/en-in/homepage/star.svg" alt="logologo">
                    </div>
                </div>
            </div>

        </div>
        <div class="organic-product-list">
            <div class="op-categ-wrapper">
                <p class="op-category">Millets</p>
            </div>
            <img src="/content/dam/organik-aem-website/in/en-in/homepage/products/our-product-7.png" alt="logologo" class="op-list-image">
            <div class="op-text-container">
                <p class="organic-product-name">Brown Hazelnut</p>
                <div class="op-price-wrapper">
                    <div class="op-price-content">
                        <div class="op-strike-price">$ 43.00</div>
                        <div class="op-actual-price">$ 34.00</div>
                    </div>
                    <div class="op-rating">
                        <img class="op-rating" src="/content/dam/organik-aem-website/in/en-in/homepage/star.svg" alt="logologo">
                    </div>
                </div>
            </div>

        </div>
        <div class="organic-product-list">
            <div class="op-categ-wrapper">
                <p class="op-category">Millets</p>
            </div>
            <img src="/content/dam/organik-aem-website/in/en-in/homepage/products/our-product-8.png" alt="logologo" class="op-list-image">
            <div class="op-text-container">
                <p class="organic-product-name">Brown Hazelnut</p>
                <div class="op-price-wrapper">
                    <div class="op-price-content">
                        <div class="op-strike-price">$ 43.00</div>
                        <div class="op-actual-price">$ 34.00</div>
                    </div>
                    <div class="op-rating">
                        <img class="op-rating" src="/content/dam/organik-aem-website/in/en-in/homepage/star.svg" alt="logologo">
                    </div>
                </div>
            </div>
        </div>
        <div class="organic-product-list">
            <div class="op-categ-wrapper">
                <p class="op-category">Fruits</p>
            </div>
            <img src="/content/dam/organik-aem-website/in/en-in/homepage/products/product-9.jpg" alt="logologo" class="op-list-image">
            <div class="op-text-container">
                <p class="organic-product-name">Apple</p>
                <div class="op-price-wrapper">
                    <div class="op-price-content">
                        <div class="op-strike-price">$ 43.00</div>
                        <div class="op-actual-price">$ 34.00</div>
                    </div>
                    <div class="op-rating">
                        <img class="op-rating" src="/content/dam/organik-aem-website/in/en-in/homepage/star.svg" alt="logologo">
                    </div>
                </div>
            </div>
        </div>
        <div class="organic-product-list">
            <div class="op-categ-wrapper">
                <p class="op-category">Fruits</p>
            </div>
            <img src="/content/dam/organik-aem-website/in/en-in/homepage/products/product-10.jpg" alt="logologo" class="op-list-image">
            <div class="op-text-container">
                <p class="organic-product-name">Strawberry</p>
                <div class="op-price-wrapper">
                    <div class="op-price-content">
                        <div class="op-strike-price">$ 43.00</div>
                        <div class="op-actual-price">$ 34.00</div>
                    </div>
                    <div class="op-rating">
                        <img class="op-rating" src="/content/dam/organik-aem-website/in/en-in/homepage/star.svg" alt="logologo">
                    </div>
                </div>
            </div>
        </div>
        <div class="organic-product-list">
            <div class="op-categ-wrapper">
                <p class="op-category">Fruits</p>
            </div>
            <img src="/content/dam/organik-aem-website/in/en-in/homepage/products/product-11.jpg" alt="logologo" class="op-list-image">
            <div class="op-text-container">
                <p class="organic-product-name">Orange</p>
                <div class="op-price-wrapper">
                    <div class="op-price-content">
                        <div class="op-strike-price">$ 43.00</div>
                        <div class="op-actual-price">$ 34.00</div>
                    </div>
                    <div class="op-rating">
                        <img class="op-rating" src="/content/dam/organik-aem-website/in/en-in/homepage/star.svg" alt="logologo">
                    </div>
                </div>
            </div>
        </div>
        <div class="organic-product-list">
            <div class="op-categ-wrapper">
                <p class="op-category">Fruits</p>
            </div>
            <img src="/content/dam/organik-aem-website/in/en-in/homepage/products/product-12.png" alt="logologo" class="op-list-image">
            <div class="op-text-container">
                <p class="organic-product-name">Pine Apple</p>
                <div class="op-price-wrapper">
                    <div class="op-price-content">
                        <div class="op-strike-price">$ 43.00</div>
                        <div class="op-actual-price">$ 34.00</div>
                    </div>
                    <div class="op-rating">
                        <img class="op-rating" src="/content/dam/organik-aem-website/in/en-in/homepage/star.svg" alt="logologo">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="op-button" id="load-more-button">
        <p>Load More</p>
        <img src="/content/dam/organik-aem-website/in/en-in/homepage/next-button.svg" alt="logobutton">
    </button>
</section>