<p data-sly-test="${wcmmode.edit || wcmmode.design}" class="author-note">
    ${'Edit {0} Component' @ format=[component.title], i18n}
</p>

<sly data-sly-use.product="com.organik.aem.core.models.OrganikProductCFModel">
    <section class="organic-products" id="products">
        <div class="op-title-wrapper">
            <h3 class="op-subtitle">${properties.title}</h3>
            <h1 class="op-title">${properties.subtitle}</h1>
        </div>
        <div class="organic-product-container" data-sly-list.item="${product.productList}">
            <div class="organic-product-list">
                <div class="op-categ-wrapper">
                    <p class="op-category">${item.category}</p>
                </div>
                <img src="${item.image}" alt="${item.name}" class="op-list-image">
                <div class="op-text-container">
                    <p class="organic-product-name">${item.name}</p>
                    <div class="op-price-wrapper">
                        <div class="op-price-content">
                            <div class="op-strike-price">$ ${item.strikePrice}</div>
                            <div class="op-actual-price">$ ${item.actualPrice}</div>
                        </div>
                        <div class="op-rating">
                            <img class="op-rating" src="${item.starImage}" alt="logologo">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="op-button" id="load-more-button">
            <p>Load More</p>
            <img src="/content/dam/organik-aem-website/in/en-in/homepage/next-button.svg" alt="logobutton">
        </button>
    </section>
</sly>