<p data-sly-test="${wcmmode.edit || wcmmode.design}" class="author-note">
    ${'Edit {0} Component' @ format=[component.title], i18n}
</p>

<header class="header">
    <div class="organic-header">
        <div class="organic-logo">
            <a href="#" class="organic-logo-wrapper">
                <img class="organic-img" src="/content/dam/organik-aem-website/in/en-in/homepage/organik-logo.svg" alt="logologo">
            </a>
        </div>
        <nav class="organic-navbar">
            <ul class="organic-navbar-content">
                <li><a href="#" class="organic-nav-wrap">Home</a></li>
                <li><a href="#about-organic" class="organic-nav-wrap">About us</a></li>
                <li><a href="#products" class="organic-nav-wrap">Products</a></li>
                <li><a href="#team" class="organic-nav-wrap">Teams</a></li>
                <li><a href="#blogs" class="organic-nav-wrap">Blogs</a></li>
                <li><a href="#contact" class="organic-nav-wrap">Contact</a></li>
            </ul>
            <button class="hamburger">
                <i class="menuIcon material-icons">menu</i>
                <i class="closeIcon material-icons">close</i>
            </button>
        </nav>
        <div class="organic-list-wrapper">
            <div class="organic-items">
                <a href="#" class="search-icon">
                    <div class="search-icon-wrapper">
                        <img src="/content/dam/organik-aem-website/in/en-in/homepage/search-icon.png" alt="logologo">
                    </div>
                </a>
            </div>
            <div class="organic-items">
                <a href="#" class="cart-wrap">
                    <div class="cart-icon-wrapper">
                        <img src="/content/dam/organik-aem-website/in/en-in/homepage/cart-logo.svg" alt="logoimg">
                    </div>
                    <p>Cart 5</p>
                </a>
            </div>
        </div>
    </div>
</header>