<p data-sly-test="${wcmmode.edit || wcmmode.design}" class="author-note">
    ${'Edit {0} Component' @ format=[component.title], i18n}
</p>

<section class="organic-features">
    <div class="organic-features-container">
        <div class="of-boxes">
            <div class="of-icon-wrapper"><img src="/content/dam/organik-aem-website/in/en-in/homepage/i-1.svg" alt="logoicons"></div>
            <h3 class="of-title">Return Policy</h3>
            <p class="of-text">If the product having any issues you can return the product.</p>
        </div>
        <div class="of-boxes">
            <div class="of-icon-wrapper"><img src="/content/dam/organik-aem-website/in/en-in/homepage/i-2.svg" alt="logoicons"></div>
            <h3 class="of-title">100% Fresh</h3>
            <p class="of-text">Fully organic and fresh products are delivered at door step.</p>
        </div>
        <div class="of-boxes">
            <div class="of-icon-wrapper"><img src="/content/dam/organik-aem-website/in/en-in/homepage/i-3.svg" alt="logoicons"></div>
            <h3 class="of-title">Support 24/7</h3>
            <p class="of-text">Our support team is available for take care the customers.</p>
        </div>
        <div class="of-boxes">
            <div class="of-icon-wrapper"><img src="/content/dam/organik-aem-website/in/en-in/homepage/i-4.svg" alt="logoicons"></div>
            <h3 class="of-title">Secured Payment</h3>
            <p class="of-text">Fully secured payment methods are used for buying product.</p>
        </div>
    </div>
</section>